body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #222;
    background-color: white;
}

pre i, code i {
    color: purple;
}

#header {
    position: fixed;
    height: 40px;
    width: 100%;

    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    background-color: #99bae0;
    background-image: -moz-linear-gradient(top, #a0bfe3, #8fb3eb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0bfe3), to(#8fb3eb));
    background-image: -webkit-linear-gradient(top, #a0bfe3, #8fb3eb);
    background-image: -o-linear-gradient(top, #a0bfe3, #8fb3eb);
    background-image: linear-gradient(to bottom, #a0bfe3, #8fb3eb);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa0bfd3', endColorstr='#ff8fb3cb', GradientType=0);
    border: 1px solid #6597b8;
    border-top: 0px;
}

#header a {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    text-shadow: 0 1px 0 #a0bfd3;
    display: block;
    float: left;
    line-height: 20px;
}

#header a:hover {
    color: #444;
}

#header a.active {
    background-color: #7da8e3;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

#header a#header-root {
    font-size: 150%;
}

#content {
    clear: both;
    padding-top: 40px;
}

@media print, screen and (max-width: 600px) {
    #header a#header-first {clear: both;}
    #header a {padding: 3px 15px;}
    #header a#header-root {padding: 10px 15px;}
    #header {height: 66px; position: static;}
    #content {padding-top: 0px;}
    .target {top: 0px;}
}

.target {
    position: relative;
    top: -33px;
    display: block;
    visibility: hidden;
    border: 1px solid purple;
}

#toc a {
    display: block;
    padding: 0px 20px;
    line-height: 20px;
    text-decoration: none;
}
#toc a.h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #999999;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
#toc a.h3 {
    padding-left: 35px;
}
#toc a:hover {
    background-color: #e3e3e3;
}

#toc {
    margin-top: 10px;
    float: right;
    margin: 0px 20px;
    min-height: 20px;
    padding: 15px 0px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

@media print, screen and (max-width: 900px) {
    #toc {display: none;}
}

h1{font-size:36px}
h2{font-size:28px}
h3{font-size:22px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:12px}


h1 {
    margin-top: 0.2em;
    margin-bottom: 0em;
}

h2 {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    border-bottom: 1px solid #ddd;
}

body {
    line-height: 1.6;
}

a {
    color: #4183c4;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 a, h2 a, h3 a, h4 a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    color: black;
    text-decoration: none;
}

pre, code, tt {
    background-color: #f2f2f2;
    border-radius: 3px;
    color: #111;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 14px;
}
pre a, code a, tt a {
    color: #315273;
}
code, tt {
    padding-top: 1px;
    padding-bottom: 1px;
}
pre {
    line-height: 1.3;
    padding: 4px;
}
.key {color: blue;}
.sym {color: red;}
.str {color: teal;}
blockquote {font-style: italic; font-family: serif;}


#footer {
    text-align: center;
    font-size: 9pt;
    margin-top: 40px;
    clear: both;
}
